*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .buy-form{
    width: 100%;
    max-width: 400px;
    height: 400px;
    padding: 40px;
    background: rgb(245, 245, 245);
    border-radius: 12px;
    box-shadow: 0 1px 30px rgb(58, 58, 250);
    animation: fadeIn 1.5s ease-out;
 }
.form-heading{
    text-align: center;
    color: rgb(20, 2, 70);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.input-group{
    position: relative;
    margin-bottom: 20px;
}
.input-group .label{
    position: absolute;
    top: -16px;
    left: 12px;
    font-size: 12px;
    color: blue;
    font-weight: 600;
    transition: all 0.3s ease;
    opacity: .7;
}
.input-group input{
    width: 275px;
    padding: 15px 20px;
    font-size: 1rem;
    color:black ;
    background-color: aliceblue;
    border: 2px solid #8079eb;
    border-radius: 10px;
    outline: none;
    transition: all .3s ease;

}
.input-group input:focus{
    border-color: aqua;
    box-shadow: 0 0 10px #58bc8266;
}
.input-group input:focus + .label{
    top:-20px;
    font-size: 11px;
    color: aqua;
    opacity: 1;
}
.submit{
    width: 90%;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 4, 255);
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease;
}
.submit:hover{
    background-color: rgb(14, 211, 255);
    transform: translateY(-4px);
    color: black;
    box-shadow: 0 5px 20px #011e2b;
}
